@font-face {
    font-family: 'CustomFont';
    src: url('./path/to/font.woff2') format('woff2');
}


.css-1o488ob-MuiInputBase-root-MuiFilledInput-root {
    background-color: white !important;
    border-radius: 8px;
}

.css-9lo51-MuiDrawer-docked-RaSidebar-root .RaSidebar-fixed {
    background-color: #071135;
}

.css-xp8f1q-MuiButtonBase-root-MuiMenuItem-root-RaMenuItemLink-root {
    min-height: auto;
    color: white;
}

/* layout.css or similar */
.no-app-bar .RaLayout-content {
    padding-top: 0px !important;
    margin-top: 0px !important;
}

.css-1ygtzf7-RaLayout-root .RaLayout-appFrame {
    margin-top: 0px !important;
}

.css-domn6v-MuiDrawer-docked-RaSidebar-root .RaSidebar-fixed {
    height: 100vh !important;
}

.css-bhp9pd-MuiPaper-root-MuiCard-root {
    background-color: transparent !important;
    -webkit-transition: box-shadow none !important;
    box-shadow: none !important;
}

.css-1dzoida {
    background-color: transparent !important;
}

.css-16j4qax {
    background-color: transparent !important;
    box-shadow: none !important;
}

.css-1ot2c21 {
    margin-bottom: 0px !important;
}

.css-i3pbo {
    margin-bottom: 8px !important;
}

.css-bhp9pd-MuiPaper-root-MuiCard-root {
    background-color: transparent !important;
}